extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let cakeid = toShow._id 
    - let flavour = toShow.flavour 
    - let price = toShow.price 
    - let shape = toShow.shape 
    - let actionid = "/resource/cake/" + cakeid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='cakeAttr mr-3') Cake ID is: 
        div #{cakeid} 
      div.row 
        div(class='cakeAttr mr-3') Cake flavour is: 
        div #{flavour} 
      div.row 
        div(class='cakeAttr mr-3') Cake price is: 
        div #{price} 
      div.row 
        div(class='cakeAttr mr-3') Cake shape is: 
        div #{shape} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/cake' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
        
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/cake' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 