extends layout

block content
  h1= title
  - let c = results
  div(class="container-fluid")
   div(class="row")
    each item in c
     - let destination = `dispatch(\"/cake/update?id=${item._id}\")`
     div(class="row-sm-2", class="m-1") Item #{item.flavour}(#{item.price}) is #{item.shape}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
   function dispatch(path){
    window.location.href=path
   }